/*-------------
    RESET
-------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------
    GENERAL
-------------*/
.d-flex {
    display: flex;
}

.align {
    align-items: center;
}

.align-e {
    align-items: end;
}

.justify {
    justify-content: center;
}

.justify-b {
    justify-content: space-between;
}

/*-------------
    HEADER
-------------*/

header {
    background-color: #add8e6;
    height: 80px;
    align-items: center;
}

.container {
    margin: auto;
    width: 1072px;
    background-color: #daa520;
    height: 50px;
}

.container div {
    border: 2px dashed #000000;
}

.col-side {
    width: 25%;
}

.col-middle {
    width: 50%;
    text-align: center;
}

span {
    line-height: 50px;
}

.left {
    padding-left: 10px;
}

.right {
    padding-right: 10px;
    text-align: end;
}

/*-------------
SECTION BLUE
-------------*/

.back-blue {
    height: 500px;
    background-color: #00008b;
}

.hero {
    border: 2px dashed #000000;
    height: 400px;
    width: 760px;
    background-color: #ee82ee;
    margin: auto;
}

/*-------------
SECTION BACK-WHITE
-------------*/

.background {
    height: 600px;
}

.back-white {
    background-color: #ffffff;
}

.row {
    width: 1072px;
    margin: auto;
    height: 500px;
}

.row div {
    border: 2px dashed #000000;
    height: 500px;
}

.col-60 {
    background-color:#1e90ff ;
    width: 60%;
}

.col-40 {
    background-color: #ffc0cb;
    width: 40%;
}

.back-gray {
    background-color: #d3d3d3;
}

.row-reverse {
    flex-direction: row-reverse;
}

/*-------------
SECTION BACK-GRAY
-------------*/

.back-green {
    height: 1000px;
}

.green {
    background-color: #228b22;
    margin: auto;
    border: 2px dashed #000000;
    width: 1072px;
    height: 900px;;
}

/*-------------
SECTION BACK-BLACK
-------------*/

.back-black {
    height: 630px;
    background-color: #23272a;
    border-bottom: 2px solid white;
}

.row-5 {
    margin: auto;
    border: 2px dashed #000000;
    width: 1072px;
}

.row-5 div {
    margin-top: -20px;
    height: 575px;
}

.div-1 {
    width: 50%;
    border: 2px dashed #000000;
    background-color: #f08080;
}

.div-2 {
    border: 2px dashed white;
    width: 20%;
    background-color: #20b2aa;
}

/*-------------
    FOOTER
-------------*/

footer {
    background-color: #23272a;
    height: 105px;
}

.end {
    width: 1072px;
    height: 74px;
    background-color: #7ffdf4;
}

.logo, .bottone{
    padding: 7px;
    border: 2px dashed #000000;
    background-color: #ffb6c1;
}


